.col-form-label {
    font-size: larger;
}

.wbdv-student-record {
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid gainsboro;
}
.wbdv-navbar {
    border: 1px solid gainsboro;
}

