html, body {
    height: 100%;
    margin:0px;
}

.wbdv-course-dashboard {
    height: 100%;
}

.wbdv-course-topics a {
    background-color: #8f8c8c;
    border: 1px solid gainsboro;
    margin-left: 3%;
    margin-right: 3%;
    color: whitesmoke;
}

.wbdv-course-topics .nav-link.active {
    background-color: cornflowerblue;
}

.wbdv-course-module {
    background: #403e3e;
    height: 100vh;
}
.wbdv-course-module a {
    /*background-color: lightgrey;*/
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid gainsboro;
    background-color: #8f8c8c;
}

.list-group-item.active {
    background-color: cornflowerblue;
    border: 1px solid gainsboro;
}
